<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
  <h1><%= @user.name %>'s page</h1>
  <p><%= @user.name %> is <%=@user.age %> years old.</p>
  <%= @user.bio %>
</body>
</html>